@use "../../global" as g;

/*!
page > news > news-archive
------------------------------
*/
.news-archive {
    margin-top: -16rem;

    @include g.mq() {
        margin-top: -24rem;
    }
}

.news-archive-pagination {
    margin-top: 48rem;
}
