@use "../global" as g;

/*!
utility > utility
------------------------------
*/
/* 非表示 */
.u-visually-hidden {
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    border: 0 !important;
    padding: 0 !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    margin: -1px !important;
}

/* テキストホバー */
.u-text-hover {
    background-image: linear-gradient(currentColor, currentColor) !important;
    background-position: 0 100% !important;
    background-size: 0 1px !important;
    background-repeat: no-repeat !important;
    transition: background-size 0.3s !important;

    @include g.mq() {
        @media (any-hover: hover) {
            &:hover {
                background-size: 100% 1px !important;
            }
        }
    }
}

/* 余白 */
.u-pb {
    padding-bottom: 64rem !important;

    @include g.mq() {
        padding-bottom: 96rem !important;
    }
}

.u-pt {
    padding-top: 64rem !important;

    @include g.mq() {
        padding-top: 96rem !important;
    }
}

.u-ptb {
    padding-block: 64rem !important;

    @include g.mq() {
        padding-block: 96rem !important;
    }
}
