@use "../global" as g;

/*!
component > form
------------------------------
*/
// required
.c-form-required {
    font-size: 13rem;
    color: var(--color-white);
    padding: 2rem 8rem;
    background-color: var(--color-red);
    border-radius: 7rem;
}

// text
.c-form-text {
    padding: 12rem 8rem;
    border-radius: 8rem;
    background-color: var(--color-bg-extra-light);
}

.c-form-text::placeholder {
    color: var(--color-font-light);
}

.c-form-text:focus {
    outline: 1rem solid var(--color-primary);
}

.c-form-text--textarea {
    min-height: 200rem;
    field-sizing: content;
}

// button
.c-form-button {
    font-size: 18rem;
    padding: 13rem 39rem;
    background-color: var(--color-primary);
    border-radius: 100vh;
    color: var(--color-white);
    border: 1rem solid var(--color-primary);
    width: fit-content;
    margin-inline: auto;
    transition: background-color 0.3s, color 0.3s;
    line-height: 1;

    @media (any-hover: hover) {
        &:hover {
            background-color: var(--color-white);
            color: var(--color-primary);
        }
    }
}
